'.wordnet-selector atom-text-editor':
    'tab'       : 'wordnet:select-next'
    'right'     : 'wordnet:select-next'
    'shift-tab' : 'wordnet:select-previous'
    'left'      : 'wordnet:select-previous'
